body {
	background-size: cover;
	background-image: url("back2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.content {
	margin-left:15%;
	padding:1px 8px;
	text-align: center;
	color: white;
	font-size: 32;
}

.content1 {
	margin-left:10%;
	padding:1px 8px;
	text-align: center;
}

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: grey;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: "Serif";
    font-size: 20px;
}


#sidebar a:hover {
    background-color: #555;
    color: white;
}

#sidebar a.active {
    background-color: black;
    color: white;
}

#sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#sidebar a {
    display: block;
    color: #000;
    padding: 30px 30px;
    text-decoration: none;
}

#sidebar {
    text-align: center;
    border-bottom: 1px solid #555;
}

.contact {
	text-align: center;
	margin-left:15%;
	padding:5px 5px;
}

.contact li{
	width: 80%;
	text-align: l;
	display: inline-block;
	padding-top:0em;
}
.contact li img {
	width: 10%;
	padding-left:1.8em;
	padding-right:1.8em;
}

#me {
	margin-left:20%;
	margin: 0px 0px 0px 0px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-size: 24;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{
	background-color:#f5f5f5;
	color:black;
}

ul.intr {
	list-style-type: square;
}

#form {
	font-size: 20;
}